body {
    text-align: center;
    background-color: #014615;
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo";
    text-shadow: 3px 0 #dada04;
  
  }
  
  footer {
    font-size: 1.5rem;
    color: #DBEDF3;
    font-family: sans-serif;
  }
  
  .z {
    background-image: url(images/tom1.png);
  }
  
  .q {
    background-image: url(images/tom2.png);
  }
  
  .s {
    background-image: url(images/tom3.png);
  }
  
  .d {
    background-image: url(images/tom4.png);
  }
  
  .j {
   background-image: url(images/snare.png);
  }
  
  .k {
    background-image: url(images/crash.png);
  }
  
  .l {
    background-image: url(images/kick.png);
  }
  
  .set {
    margin: 10% auto;
  }

  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #b0b300;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  